<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">PANEL DE INICIO</h1>
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img
                    src="https://lh3.googleusercontent.com/co4tHTz__ldzzlW88b5xS5rheAo56EgEzmxJPBAjHfH_V3rNRa1kmvsnY-UZa1F5GOEXCuhSRkYEjDzC5E9re9C_sNfwD3SpdJjamQNUfIMoMbwyP0U"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Soluciones para el agro</h4>
                </div>

                <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                  <p>Por favor ingresa tus datos</p>

                  <div class="form-outline mb-4">
                    <input type="email" class="form-control" placeholder="Correo Electrónico" formControlName="email" />
                    <label class="form-label">Nombre de suuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" placeholder="Clave" class="form-control" formControlName="password" />
                    <label class="form-label">Contraseña</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg mb-3"  type="submit" value="Enviar" >Iniciar
                      Sesión</button>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <p class="mb-0 me-2">No tienes una cuenta?</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <button type="button" class="btn btn-danger" (click)="onInitSubmit()">Registrarte ahora</button>
                    <br>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-info" (click)="onClick()">Iniciar con google</button>
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
