<section id="home" class="d-flex align-items-center">
  <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
    <h1>MEJORES SOLUCIONES EN EL AGRO</h1>
    <h2>Estamos trabajando por el sector agrícola</h2>
    <a (click)="onClick()" class="btn-get-started scrollto">{{textSession}}</a>
  </div>
</section>

<main id="main">

  <section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/img/home.png" class="col-lg-12" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
          <img src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/logos/--logo-main.svg"class="col-lg-6" alt="">
          <h3>Mejor información, mejores decisiones en el agro. </h3>

          <p>
            AgrodatAi es una plataforma digital que ofrece información y transfiere conocimiento a los actores de la
            cadena agro, para que tomen mejores decisiones, y propicia conexiones comerciales entre ellos. AgrodatAi
            apunta a fortalecer la competitividad y rentabilidad del sector agropecuario.
          </p>
          <h3>¿Cómo surgió AgrodatAi?</h3>
          <p>
            AgrodatAi es un spin off de Servinformación y SFA CEBAR, creada con el objetivo de desarrollar una
            plataforma digital para las cadenas agro colombianas.
          </p>
          <img src="https://storage.googleapis.com/front-agrodatai-dev/agrodatai/img/logo%20servi.png" alt="">
          <p>
            Servinformación es una empresa fundada en 1999, especializada en el diseño sistemas de información
            geográfica, soluciones SIG en movilidad, recolección de información y diseño metodológicos de procesos de
            recolección de información.
          </p>
        </div>
      </div>

    </div>
  </section>


  <!-- <section id="services" class="services section-bg">
    <div class="container">

      <div class="row">
        <div class="col-lg-4">
          <div class="section-title" data-aos="fade-right">
            <h2>Services</h2>
            <p>Magnam dolores commodi suscipit nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis
              commodi quidem hic quas.</p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">Lorem Ipsum</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">Sed ut perspiciatis</a></h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="">Magni Dolores</a></h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4><a href="">Nemo Enim</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section> -->

</main>
